*{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    background-color: black;
}

strong{
    font-weight: 600;
}

header{
    text-align: right;
    position: fixed;
    top: 0;
    margin: 0;
    height: 15vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    left: 0;
    padding: 0;
}

footer{
    text-align: left;
    position: fixed;
    bottom: 0;
    margin: 0;
    height: 15vh;
    width: 100vw;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    left: 0;
    padding: 0;
}

footer > a{
    position: absolute;
    bottom: 1em;
    background: transparent;
    margin-left: 2em;
    margin-bottom: 0;
    font-family: "Orbitron", sans-serif;
    font-size: 0.85em; 
}

footer > a:hover{
    text-shadow:#FF6100 0px 0px 5px;
}

body {
    color: #F3F1ED;
}

a, a:hover, a:active, a:visited{
    color:#F3F1ED;
    text-decoration: none;
}

h1{
    font-family: "Orbitron", sans-serif;
    /* font-weight: 400; */
    /* font-optical-sizing: auto; */
    position: sticky;
    top: 0;
    text-align: right;
    margin: 0;
    font-size: 3.3vmax;
    background-color: transparent;
    text-shadow: #73cbf2 20px 10px 10px;
}

h2{
    font-family: "Orbitron", sans-serif;
    /* font-weight: 400; */
    font-size: 1.65vmax;
    text-align: right;
}

h3{
    /* text-decoration: double underline #FF6100; */
    /* text-underline-offset: 0.7em; */
    /* font-size: 1.7vmax; */
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.dropBtn {
    background-color: transparent;
    color:#F3F1ED;
    padding: 1em;
    padding-bottom: 0;
    font-size: 1em;
    border: none;
    margin-right: 3em;
    width: fit-content;
    font-family: "Orbitron", sans-serif;
  }
  
  .dropdown {
    background-color: transparent;
    position: relative;
    display: inline-block;
    /* text-align: center; */
    left: 0;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: transparent;
    font-size: 0.8em;
    width: fit-content;
  }
  
  .dropdownContent a {
    color:#F3F1ED;
    padding: 0.2em;
    padding-right: 2em;
    margin-right: auto;
    text-decoration: none;
    display: block;
    background-color: transparent;
  }
  
  /* Change color of dropdown links on hover */
.dropdownContent a:hover {
    text-shadow:#73cbf2 0px 0px 5px;
    font-weight: 500;
    /* background-color: transparent; */
}
  
.dropdown:hover .dropdownContent {
    display: block;
}
  
.dropdown:hover .dropBtn {
    text-shadow:#FF6100 0px 0px 5px;
    font-weight: 500;
}  

hr{
    height: 3px;
    background: linear-gradient(to right, #ff620000, #FF6100, #ff620000);
    border: none;
    width: 100%;
}

.concertContainer{
    scroll-margin-top: 2.5em;
    margin: 0.7em;
    margin-bottom: 2em;
    padding: 1em;
    border: 5px dashed #FF6100;
}

.concertContainer:nth-child(even) .infoBlock{
    box-shadow: #73ccf285 -5px 5px 7px 0.5px; 
}

.infoBlock{
    display: flex;
    flex-direction: column;
    /* font-size: 1vmax; */
    font-size: 0.8em;
    width: 100%;
    height: fit-content;
    padding-bottom: 1em;
    box-shadow: #73ccf285 5px 5px 7px 0.5px; 
}

.glowText{
    text-shadow: #73cbf2 0px 0px 10px;
}

.infoText{
    font-weight: 600;
    text-shadow: #73cbf2 4px 4px 5px;
}

.time, .conductor{
    margin: 0.5em;
    margin-bottom: 0;
    text-align: center;
}

.repertoire{
    margin: auto;
    /* margin: 0.5em; */
    margin-bottom: 0;
    margin-top: 0.5em;
    text-align: center;
    max-width: 75ch;
}

.location{
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    display: block;
    font-weight: 400;
}

.description{
    /* width: 80%; */
    padding: 0.5em;
    /* font-size: 1vmax; */
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.extraInfo{
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    margin: auto;
    margin-top: 0;
    max-width: 75ch;
}

@keyframes shrink{
    0%{
        font-size: 2.2vw;
    }

    3%{
        font-size: 1.8vw;
    }

    100%{
        font-size: 1.8vw;
    }
}

@keyframes up{
    0%{
        padding-top: 1.5em;
    }

    3%{
        padding-top: 0.3em;
    }

    100%{
        padding-top: 0.3em;
    }
}

@media screen and (max-width: 600px){
    h1{
        font-size: 1em;
    }
    h2{
        font-size: 0.9em;
    }
    h3{
        font-size: 1em;
    }
    .location{
        font-size: 0.9em;
    }
    .concertContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: #FF6100 0px 5px 30px 5px;
    }
    header{
        text-align: left;
        height: 10vh;
    }
    .dropBtn{
        margin-top: 2.2em;
        padding-left:0.8em;
        font-size: 0.7em;
    }
    /* .dropdown{
        background-color: black;
    } */
    .dropdownContent a{
        padding-left: 1em;
        font-size: 0.8em;
        padding-top: 1em;
        background-color: black;
    }
    footer{
        text-align: right;
        height: 10vh;
    }
    footer > a{
        right: 2em;
        left: auto;
        margin-left: 0;
        bottom: 1em;
    }
}
    
@media screen and (min-width: 601px){
    body{
        padding-left: 9em;
        padding-right: 9em;
    }

    h1{
        height: 6vh;
        animation: shrink forwards linear;
        animation-timeline: scroll();
    }

    .concertContainer{
        width: 60vw;
    }

    .concertBlock{
        display: flex;
        flex-direction: column;
    }

    .concertContainer:nth-child(odd){
        margin-left: auto;
        box-shadow: none;
        transition: box-shadow 1s;
    }

    .concertContainer:nth-child(even){
        box-shadow: none;
        transition: box-shadow 1s;
    }

    .concertContainer:hover:nth-child(odd){
        box-shadow: #FF6100 -10px 5px 25px 5px;
    }

    .concertContainer:hover:nth-child(even){
        box-shadow: #FF6100 10px 5px 25px 5px;
    }

    .dropBtn{
        animation: up forwards linear;
        animation-timeline: scroll();
    }
}