*{
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
}

body {
    color: #F3F1ED;
    padding-left: 5em;
    padding-right: 5em;
}

h1{
    position: sticky;
    top: 0;
    text-align: right;
    margin: 0;
    font-size: 2.9vw;
    height: 8vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    text-shadow: #73cbf2 20px 10px 10px;
}

h2{
    font-size: 2.5vw;
    text-align: right;
}

h3{
    text-decoration: double underline #FF6100;
    text-underline-offset: 0.3em;
    font-size: 1.3vw;
}

.concertContainer{
    margin: 0.7em;
    padding: 1em;
    border: 5px dashed #FF6100;
    width: 60vw;
}

.infoBlock{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    width: 35vw;
    margin: 0.5em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 1em;
    box-shadow: #FF6100 1px 2px 1px;
    
}

.conductor{
    /* text-shadow: #FF6100 1px 1px 1px; */
}

.repertoire{

}

.location{

}

.description{
    width: 60vw;
    padding: 1em;
    font-size: small;
}

@keyframes shrink{
    0%{
        font-size: 4vw;
    }

    3%{
        font-size: 2.5vw;
    }

    100%{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 615px){
    .concertContainer{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}
    
@media screen and (min-width: 700px){
    h1{
        animation: shrink forwards linear;
        animation-timeline: scroll();
    }
    .concertBlock{
        display: flex;
        flex-direction: row;
    }

    .concertContainer:nth-child(even){
        margin-left: auto;
    }
}