/* General page styles*/
body {
    margin: 0;
}
  
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
}

h2, p{
    margin: 0;
}

h2{
    font-size: 2em;
    line-height: 1.5em;
}

article{
    height: 12em;
    background-color: rgba(0,0,0,0.3);
}

/* Card Container styles */
.card{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

.card header, .card footer{
    height: 3em;
    padding: 1em;
}

/* Header styles */
.card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
}

/* Footer styles */
.card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
}

.card footer p{
    font-size: 1.5em;
    line-height: 1.5em;
}

/*Card Content styles */
.card article img{
    max-height: 100%;
    float: right;
}

.card article p{
    padding: 1em;
    line-height: 1.4em;
    color: white;
}

/* sageCard styling */
#sageCard {
    background-color: rgb(5, 255, 50);
}

#sageHeader {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.3));
    border-radius: 0;
}

#sageArticle p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15em;
    text-align: center;
    color: black;
}

#sageFooter {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: .9em;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3), rgba(0,0,0,0));
    border-radius: 0;
}
  
  

  
  