body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 0.5s;
}

#box1:hover{
    background-color: purple;
    /* transition: background-color 1s; */
}



#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 3s infinite ease-in-out;
}

/* #box2:hover{
    animation: box2move 0.3s infinite alternate ease-in-out;
} */

@keyframes box2move{
    /* to{
        translate: 1vw 1vh;
    }

    from{
        translate: 10vw 10vh;
    } */
    0%, 100%{
        translate: 0 0;
    }
    25%{
        translate: 500px 0;
        scale: 50%;
        rotate: 15deg;
    }
    50%{
        translate: -100px 150px;
        rotate: -20deg;
    }
    75%{
        translate: 250px -250px;
        scale: 200%;
    }
}