@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root{
	/*dark mode vars*/
	--bg-col-dk: #1a1a1a;
	--txt-col-dk: #e2e8f0;

	/*various greens*/
	--grn-neon: #39ff14;
	--grn-neon-trans: #39ff1477;
	--grn-light: #00ff80;
	--grn-lightest: #a7ffd3;
}

html, body{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--bg-col-dk);
	color: var(--txt-col-dk);
	font-family: 'Space Grotesk', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main{
    flex: 1;
	display: flex;
	flex-direction: column;
}

p{
	font-family: 'Space Mono', monospace;
	color: var(--grn-light);
}

a{
	font-family: 'Space Mono', monospace;
	color: var(--grn-light);
	transition: color 0.2s ease;
}

a:hover, a:focus{
	color: var(--grn-lightest);
}

.button1{
	display: inline-block;
	padding: 0.3em 0.75em;
	border-style: double;
	border-width: 0.25em;
	border-radius: 15px;
	border-color: var(--grn-neon-trans);
	background: var(--bg-col-dk);
	color: var(--txt-col-dk);
	text-decoration: none;
	transition: background 0.3s ease,
				color 0.3s ease,
				box-shadow 0.3s ease;
}

.button1:hover, .button1:focus{
	background: var(--grn-neon);
	color: var(--bg-col-dk);
	box-shadow: 0 0 10px var(--grn-light);
}

@keyframes blink{
	50%{opacity: 0;}
}